<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <h1>Imports</h1>
    <table class="table table-bordered table-sm">
      <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">CSV file</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <% @imports.each do |import| %>
        <tbody>
        <tr>
          <th scope="row"><%= import.id %></th>
          <td><%= import.title %></td>
          <td><%= import.csv_file %></td>
          <td><%= link_to 'Show', import, class: 'btn' %></td>
          <td><%= link_to 'Edit', edit_import_path(import), class: 'btn' %></td>
          <td><%= link_to 'Delete', import, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn' %></td>
        </tr>
        </tbody>
      <% end %>
    </table>
  </div>
  <div>
    <%= button_to 'New Import', new_import_path, {method: 'get', class: 'btn btn-primary' } %>
  </div>
</div>

